@yellow: #ece90d;

.margenes(@top: 0px,@bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron{
    background-color: @yellow;
    color: whitesmoke;
    .margenes(50px, 0px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(28, 94, 155);
    .margenes(10px, 0px);
    color: whitesmoke;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
    
}

.btn-reserva{
    width: 100%;
    border-radius: 0%;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}
