.jumbotron {
  background-color: #3868c0;
  color: whitesmoke;
  margin-top: 50px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #1c5e9b;
  margin-top: 10px;
  color: whitesmoke; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0%; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
